/*Mobile first*/
/* import google fonts */

@import url('https://fonts.googleapis.com/css2?family=Monda:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    /* Set up the basic color and font styles */
    /* Colors: */
    --accent-1: #3e1075;
    --accent-2: #105a75;
    --bg-light: white;
    --bg-dark: #05174d;
    --heading-text-color:black;
    --body-text-color:black;
     
    /* Font/text values */

    /*    font-family, find the values from google fonts website*/
    --headings-font-family: 'Monda', serif;
    --body-font-family:'Poppins', sans-serif;

}


body {
    background-color:var(--bg-light);
    font-family: var(--body-font-family);
    color: var(--body-text-color);
    /* overflow: hidden; */
}

/* FONTS AND HEADINGS */
p {
    font-size: 14px;
    line-height: 1.5rem;
    font-weight: 400;
}

/*this is a group selection, selecting all the headlines h1-h4 and set a standard style*/
h1, 
h2,
h3 {
    font-family: var(--headings-font-family);
    color: var(--heading-text-color);
    line-height: 1.5;
}

/*Set a unique style to a specific tag element*/
h1 {
    font-size: 36px;
    font-weight: 600;
    text-transform: uppercase;
}

h2 {
    font-size: 24px;
    font-weight: 600;
}

h3 {
    font-size: 18px;
    font-weight: 400;
}

li {
    font-size: 14px;
}

/* BACKGROUNDS */
.bg-dark {
    background-color: var(--bg-dark);
    color: white;
}

.gradient {
    background:
        radial-gradient(circle at 0% 0%, #3E1075, transparent 80%),
        radial-gradient(circle at 100% 0%, #105a75, transparent 100%),
        radial-gradient(circle at 0% 100%, #05174d, transparent 100%),
        radial-gradient(circle at 100% 100%, black, transparent 80%),
        radial-gradient(circle, #105a75);
    color: white;
}


/* CONTAINERS */
.container {
    padding: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.container-padded {
    padding: 2em 4rem;
}

.row {
    margin: 0;
}

.img-container {
    background-color: var(--accent-1);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
}

.art-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* center */
.center {
    justify-content: center;
    align-items: center;
}


/* LINKS*/
a {
    color: var(--body-text-color);
    text-decoration: underline;
}

a:hover {
    color: var(--accent-2);
}

.demo {
    text-decoration: none;
    padding-left: 5px;
    display: inline;
}

/* BUTTONS */
a button {
    color: white;
    background-color: var(--accent-1);
    text-decoration: none;
    border: 2px solid var(--accent-1);
    font-size: 1rem;
    font-weight: 500;
    min-width: 150px;
    padding: 10px 20px;
    border-radius: 999px;
    margin-top: 1rem;
    text-align: center;
    transition-duration: 0.4s;
    cursor: pointer;
}

a button:hover {
    color: var(--accent-1);
    background-color: white;
    border: 2px solid var(--accent-1);
}

/* IMAGES */
img {
    margin:auto;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.img-ratio-1-1 {
    aspect-ratio: 1/1;
    width: 100%;
    height: auto;
    object-fit: cover;
}

img.ratio-5-7 {
    aspect-ratio: 5 / 7;
}

.full-width {
    width: 100%;
    height: auto;
}

.headshot {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    width: 100%;
}

.cover {
    background-color: black;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
}

.cover img:hover {
    opacity: 0.5;
    cursor: pointer;
}

.shadow {
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
}

.artwork {
    max-height: 75vh;
    height: auto;
    width: auto;
    max-width: 100%;
    margin-bottom: 1rem;
}


/* SPACERS */
.spacer {
    height: 1.5rem;
}

.solid-spacer {
    height: 0.25rem;
    background-color: var(--accent-1);
    margin-bottom: 1rem;
}


/* TOP NAVIGATION */
#header {
    padding: 2rem 4rem;
}

.top-menu {
    display: flex;
    align-items: center;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.top-menu a {
    padding: 5px 10px;
    text-decoration: none;
}

.top-menu a:hover {
    text-decoration: none;
}

#name {
    float: left;
    font-size: 1.5rem;
    font-family: var(--headings-font-family);
    font-weight: 600;
    color: var(--accent-white);
}

/* Right-aligned section inside the top navigation */
#top-nav {
    margin-left: auto;
    display: flex;
    gap: 1rem;
}

/* Hide mobile icon on desktop */
#top-nav .icon {
    color: white;
    display: none;
}

/* Page buttons */
#nav-items {
    display: flex;
    gap: 1rem;
}

#nav-items a {
    color: white;
    font-weight: 500;
    text-align: center;
    min-width: 125px;
    padding: 10px 20px;
    border: 1px solid transparent;
    border-radius: 999px;
}

/* Change the color of links on hover */
#nav-items a:hover {
    border: 1px solid white;
    color: white;
    transition: 0.4s;
}

/* Add a color to the active/current link */
#nav-items a.active {
    background-color: #ffffff33;
    color: white;
}


/* FOOTER ELEMENTS */
.footer-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    color: white;
}

footer p {
    font-size: 0.75rem;
}

.social {
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
}

.social a {
    color: white;
}

.social a:hover {
    transition: all 0.5s ease-in-out;
}


/* HOME PAGE */

/* splash screen */
#splash {
    color: white;
    cursor: pointer;
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

#splash h1 {
    color: white;
    font-size: 5rem;
    line-height: normal;
}

#splash p {
    font-size: 1.75rem;
}

@keyframes fade-in-up {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0%);
        opacity: 1;
    }
}

@keyframes fade-in-right {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0%);
        opacity: 1;
    }
}

@keyframes fade-out-right {
    0% {
        transform: translateX(0%);
        opacity: 0;
    }
    100% {
        transform: translateX(100%);
        opacity: 1;
    }
}

.splash-content {
    text-align: center;
    animation: 1.5s fade-in-up;
}

/* intro */
#intro {
    height: 100vh;
    padding: 2rem 4rem;
}

#intro h1 {
    font-size: 8vw;
    line-height: 1.2;
    color: white;
}

#intro h2 {
    font-size: 2vw;
    line-height: 1.2;
    color: white;
    font-style: italic;
}

#intro-content {
    height: 90%;
    display: flex;
    gap: 3rem;
}

.intro-words {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.headshot {
    margin: auto;
    height: auto;
    max-height: 100%;
    width: auto;
    aspect-ratio: 5 / 7;
    overflow: hidden;       /* Hides the parts of the image that fall outside the arch */
    border-radius: 9999px 9999px 0 0;
    box-shadow: 20px 20px 0px 0px #05174d;
}

#skills > .col-lg-6 {
    padding: 0;
}

#facts {
    padding: 1rem;
    background-color: #105a7580;
    border: 1px solid var(--accent-2);
    border-radius: 10px;
    margin-bottom: 1rem;
}

/* PROJECTS */
.overlay {
    width: 100vw;
    max-width: 100%;
    min-height: 100vh;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--bg-light);
    display: none;
    overflow-y: auto;
}

.no-scroll {
    position: fixed;
    width: 100%;
    overflow-y: hidden;
}

.exit-button {
    display: flex;
    justify-content: right;
    padding: 2%;
}

i.close-project:hover {
    cursor: pointer;
}

/* ARTWORK */
#gallery {
    display: flex;
    flex-wrap: wrap;
}

#gallery > .cover {
    margin: 10px;
}

#sidebar {
    position: sticky;
    top: 5vh;
}

.sidenav {
    width: 100%;
    margin-bottom: 1rem;
}

.title {
    font-style: italic;
    font-weight: bold;
}

/* tablet */
@media only screen and (min-width:480px) and (max-width: 768px) {
    .container-padded {
        padding: 1rem 2rem;
    }

    #name {
        font-size: 1.25rem;
    }

    #nav-items a {
        min-width: 100px;
        padding: 5px 10px;
    }

    #intro {
        padding: 2rem;
    }

    #intro h1 {
        font-size: 9vw;
    }

    #intro h2 {
        font-size: 3vw;
    }

    #intro-content {
        flex-direction: column;
        gap: 1rem;
    }

    .intro-words {
        padding: 2rem 0rem;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .headshot {
        height: 1000px;
        width: auto;
        aspect-ratio: 5 / 7;
        overflow: hidden;       /* Hides the parts of the image that fall outside the arch */
        border-radius: 9999px 9999px 0 0;
    }

    .headshot img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

/*mobile*/
@media only screen and (max-width: 480px) {
    body {
        background-color:var(--bg);
        font-family: var(--body-font-family);
        font-size: 1rem;
        /*    line-height is 150% of the font size*/
        line-height: 1.5rem;
        color: var(--body-text-color);
    }
    
    p {
        font-size: 1rem;
        line-height: 1.5;
        margin-bottom: 1.3rem;
    }

    .row {
        gap: 1rem;
    }

    /* footer */
    p.footer-text {
        vertical-align: middle;
    }
    
    .container-padded {
        padding: 1rem;
    }

    /* TOP NAVIGATION */
    .top-menu {
        align-items: normal;
    }

    #top-nav {
        display: flex;
        flex-direction: column;
        text-align: right;
        gap: 0;
    }

    #top-nav .icon {
        display: block;
        font-size: 1.25rem;
        border-radius: 999px;
    }

    #nav-items {
        display: none;
        flex-direction: column;
        position: absolute;
        z-index: 999;
        top: 4rem;
        right: 1rem;
        animation: 1.5s fade-in-right;
        background-color: #05174d;
        padding: 1rem;
    }

    #header {
        padding: 1rem;
    }

    #intro {
        padding: 1rem;
    }

    #intro h1 {
        font-size: 15vw;
    }

    #intro h2 {
        font-size: 5vw;
    }

    #intro-content {
        flex-direction: column;
        gap: 1rem;
        padding: 0rem 1rem;
    }

    .intro-words {
        padding: 2rem 0rem;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .headshot {
        width: auto;
        aspect-ratio: 5 / 7;
        overflow: hidden;       /* Hides the parts of the image that fall outside the arch */
        border-radius: 9999px 9999px 0 0;
        box-shadow: 10px 10px 0px 0px #05174d;
    }

    .headshot img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .waterfall img {
        width:100%;
    }

}