/*Mobile first*/
/* import google fonts */

@import url('https://fonts.googleapis.com/css2?family=Monda:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@keyframes fade-in-up {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0%);
        opacity: 1;
    }
}

@keyframes fade-in-right {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0%);
        opacity: 1;
    }
}

:root {
    /* Set up the basic color and font styles */
    /* Colors: */
    --accent-1: #3e1075;
    --accent-2: #105a75;
    --bg-light: white;
    --bg-dark: black;
    --heading-text-color:white;
    --body-text-color:white;
     
    /* Font/text values */

    /*    font-family, find the values from google fonts website*/
    --headings-font-family: 'Monda', serif;
    --body-font-family:'Poppins', sans-serif;

}


body {
    font-family: var(--body-font-family);
    color: var(--body-text-color);
    background-color: var(--bg-dark);
    overflow: auto;
}

/* FONTS AND HEADINGS */
p,
li {
    font-size: 16px;
    line-height: 1.5rem;
    font-weight: 400;
}

/*this is a group selection, selecting all the headlines h1-h4 and set a standard style*/
h1, 
h2,
h3 {
    font-family: var(--headings-font-family);
    color: var(--heading-text-color);
    line-height: 1.5;
}

/*Set a unique style to a specific tag element*/
h1 {
    font-size: 36px;
    font-weight: 600;
    text-transform: uppercase;
}

h2 {
    font-size: 24px;
    font-weight: 600;
}

h3 {
    font-size: 18px;
    font-weight: 400;
}

/* BACKGROUNDS */
.bg-dark {
    background-color: var(--bg-dark);
    color: white;
}

.gradient {
    background:
        radial-gradient(circle at 0% 0%, #3E1075, transparent 80%),
        radial-gradient(circle at 100% 0%, #105a75, transparent 100%),
        radial-gradient(circle at 0% 100%, #05174d, transparent 100%),
        radial-gradient(circle at 100% 100%, black, transparent 80%),
        radial-gradient(circle, #105a75);
}

/* CONTAINERS */
.container-padded {
    padding: 2em 4rem;
}

.container-padded-min {
    padding: 1rem 2rem;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
}

.img-container {
    background-color: var(--accent-1);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
}

.art-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* GRIDS */
.grid {
    display: grid;
    column-gap: 1rem;
    row-gap: 1rem;
}

.grid-2 {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 1rem;
}

.grid-3 {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 1rem;
}

.grid-4 {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 1rem;
}

/* LINKS*/
a {
    color: var(--body-text-color);
    text-decoration: underline;
}

a:hover {
    color: var(--accent-2);
}

.demo {
    text-decoration: none;
    padding-left: 5px;
    display: inline;
}

/* BUTTONS */
button,
a button {
    color: white;
    background-color: var(--accent-1);
    text-decoration: none;
    border: 2px solid var(--accent-1);
    font-size: 1rem;
    font-weight: 500;
    padding: 10px 20px;
    border-radius: 999px;
    margin-top: 1rem;
    text-align: center;
    transition-duration: 0.4s;
    cursor: pointer;
}

a button:hover {
    color: var(--accent-1);
    background-color: white;
    border: 2px solid var(--accent-1);
}

/* exit button */
.exit-button {
    display: flex;
    justify-content: right;
    position: absolute;
    top: 50px;
    right: 50px;
    z-index: 999;
    color: white;
}

.exit-button button {
    margin: 0;
}

.close {
    color: white;
    text-shadow: none;
    opacity: 1;
}

.close:hover {
    cursor: pointer;
    color: white;
    opacity: 0.5;
}

/* IMAGES */
img {
    margin:auto;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.img-ratio-1-1 {
    aspect-ratio: 1/1;
    height: auto;
}

img.ratio-5-7 {
    aspect-ratio: 5 / 7;
    height: auto;
}

.cover {
    aspect-ratio: 7 / 5;

}

.cover img:hover {
    opacity: 0.5;
    cursor: pointer;
}

.shadow {
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
}

/* SPACERS */
.spacer {
    height: 1.5rem;
}

.solid-spacer {
    height: 0.25rem;
    background-color: var(--accent-1);
    margin-bottom: 1rem;
}

hr {
    border: none;
    height: 1px;
}

hr.thin {
    border-top: 1px solid white;
}


/* TOP NAVIGATION */
#header {
    padding: 2rem 4rem;
}

.top-menu {
    display: flex;
    align-items: center;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.top-menu a {
    padding: 5px 10px;
    text-decoration: none;
}

.top-menu a:hover {
    text-decoration: none;
}

#name {
    float: left;
    font-size: 1.5rem;
    font-family: var(--headings-font-family);
    font-weight: 600;
    color: var(--accent-white);
}

/* Right-aligned section inside the top navigation */
#top-nav {
    margin-left: auto;
    display: flex;
    gap: 1rem;
}

/* Hide mobile icon on desktop */
#top-nav .icon {
    color: white;
    display: none;
}

/* Page buttons */
#nav-items {
    display: flex;
    gap: 1rem;
}

#nav-items a {
    color: white;
    font-weight: 500;
    text-align: center;
    min-width: 125px;
    padding: 10px 20px;
    border: 1px solid transparent;
    border-radius: 999px;
}

/* Change the color of links on hover */
#nav-items a:hover {
    border: 1px solid white;
    color: white;
    transition: 0.4s;
}

/* Add a color to the active/current link */
#nav-items a.active {
    background-color: #ffffff33;
}


/* FOOTER ELEMENTS */
.footer-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2rem;
    color: white;
}

footer p {
    font-size: 0.75rem;
}

/* socials */
.social {
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
}

.social a {
    color: white;
}

.social a:hover {
    transition: all 0.5s ease-in-out;
}


/* HOME PAGE */
/* splash screen */
#splash {
    color: white;
    position: fixed;
    z-index: 999;
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

#splash h1 {
    color: white;
    font-size: 5rem;
    line-height: normal;
}

#splash p {
    font-size: 1.75rem;
}

.splash-content {
    text-align: center;
    animation: 1.5s fade-in-up;
}

/* intro */
#intro {
    padding: 2rem 4rem;
}

#intro * {
    color: white;
}

#intro h1 {
    font-size: 9vw;
    line-height: 1.2;
}

#intro h2 {
    font-size: 2vw;
    line-height: 1.2;
    font-style: italic;
}

.intro-content {
    height: 90%;
    gap: 3rem;
    padding: 4rem 0;
}

.intro-words {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.headshot {
    height: auto;
    max-height: 100%;
    width: 25vw;
    aspect-ratio: 5 / 7;
    margin: auto;
    overflow: hidden;
    position: absolute;
    top: 12vh;
    right: 6rem;
    z-index: 1;
    border: 3px solid white;
    border-radius: 9999px 9999px 0 0;
    box-shadow: 15px 10px 0px 0px var(--accent-1);
}

/* about section */
.hero-container {
  position: relative;
  /* Use isolation to keep the negative z-index background inside this container */
  isolation: isolate; 
  padding: 40px;
  background-color: black;
}

.hero-container * {
    color: white;
}

.hero-container::before {
  content: "";
  position: absolute;
  inset: 0; /* Shortcut to stretch top, right, bottom, left to 0 */
  background-image: url("../src/waterfall.jpg");
  background-size: cover;
  background-position: center;
  /* Adjust your opacity value here (0.0 to 1.0) */
  opacity: 0.25; 
  /* Places the image layer behind the text content */
  z-index: -1; 
  box-shadow: inset 0 10px 10px -10px black;
}

#facts {
    padding: 1rem;
    background-color: #105a7580;
    border: 1px solid var(--accent-2);
    border-radius: 10px;
    margin-bottom: 1rem;
}

/* PROJECTS */
.overlay {
    width: 100vw;
    min-height: 100vh;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    overflow-y: auto;
    background-color: var(--bg-dark);
}

/* ARTWORK */
.gallery {
    width: 100%;
}

.gallery-row {
    display: flex;
    margin-bottom: 16px;
    gap: 16px;
}

.gallery-row img {
    display: block;
    flex-shrink: 0;
}

.gallery-row img:hover {
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    opacity: 0.75;
}

/* carousel*/
#art-carousel {
    width: 100vw;
    height: 100vh;
    background-color: black;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 999;
    display: none;
}

#demo {
    height: 100%;
}

.carousel-indicators {
    bottom: 5vh;
    gap: 1rem;
}

button.indicator {
    width: 25px;
    height: 3px;
    background-color: white;
    opacity: 0.5;
    border: none;
    padding: 0;
}

button.indicator:hover {
    opacity: 1;
}

button.carousel-control-prev,
button.carousel-control-next {
    width: 10%;
    height: 10vh;
    top: 40vh;
    color: white;
    opacity: 0.5;
    background-color: transparent;
    border: none;
}

button.carousel-control-prev:hover,
button.carousel-control-next:hover {
    opacity: 1;
}
.carousel-inner {
    height: 100%;
    padding: 4rem 8rem;
}

.carousel-item {
    display: none;
}

.carousel-item {
    height: 100%;
}

.carousel-img {
    height: 85%;
    display: flex;
    gap: 2rem;
    justify-content: center;
}

.carousel-img img {
    max-height: 100%;
    max-width: 100%;
    height: auto;
    width: auto;
    object-fit: contain;
    margin: 0;
}

.carousel-img div {
    display: flex;
    justify-content: center;
}

.carousel-caption {
    position: static;
    padding-top: 2rem;
    padding-bottom: 0;
    text-align: left;
}

.carousel-caption p {
    font-style: italic;
}

/* tablet */
@media only screen and (max-width: 768px) {
    p,
    li {
        font-size: 14px;
    }

    .container-padded {
        padding: 1rem 2rem;
    }

    .flex-container {
        flex-direction: column;
    }

    .grid-3,
    .grid-4 {
        grid-template-columns: 50% 50%;
    }

    #name {
        font-size: 1.25rem;
    }

    #nav-items a {
        min-width: 100px;
        padding: 5px 10px;
    }

    #intro {
        padding: 2rem;
    }

    #intro h1 {
        font-size: 9vw;
    }

    #intro h2 {
        font-size: 3vw;
    }

    .intro-content {
        display: flex;
        gap: 1rem;
    }

    .intro-words {
        padding: 2rem 0rem;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .headshot {
        position: relative;
        top: 0;
        right: 0;
    }

}

/*mobile*/
@media only screen and (max-width: 480px) {
    body {
        font-size: 14px;
    }
    
    p {
        font-size: 14px;
        line-height: 1.5;
        margin-bottom: 1.3rem;
    }

    /* GRIDS */
    .grid-2,
    .grid-3,
    .grid-4 {
        grid-template-columns: 100%;
    }

    /* footer */
    p.footer-text {
        vertical-align: middle;
    }
    
    .container-padded {
        padding: 1rem;
    }

    .container-padded-min {
        padding: 1rem;
    }

    #splash {
        cursor: pointer;
    }

    /* splash screen */
    #splash h1 {
        color: white;
        font-size: 2rem;
        line-height: normal;
    }

    #splash p {
        font-size: 1rem;
    }

    /* TOP NAVIGATION */
    .top-menu {
        align-items: normal;
    }

    #top-nav {
        display: flex;
        flex-direction: column;
        text-align: right;
        gap: 0;
    }

    #top-nav .icon {
        display: block;
        font-size: 1.25rem;
        border-radius: 999px;
    }

    #nav-items {
        display: none;
        flex-direction: column;
        position: absolute;
        z-index: 999;
        top: 4rem;
        right: 1rem;
        animation: 1.5s fade-in-right;
        background-color: #05174d;
        padding: 1rem;
    }

    #header {
        padding: 1rem;
    }

    #intro {
        height: 100%;
        padding: 1rem;
    }

    #intro h1 {
        font-size: 15vw;
    }

    #intro h2 {
        font-size: 5vw;
    }

    .intro-content {
        flex-direction: column;
        gap: 1rem;
        padding: 1rem;
    }

    .intro-words {
        padding: 2rem 0;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .headshot {
        width: 75%;
        position: relative;
        top: 0;
        right: 0;
    }

    .headshot img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    #gallery img {
        width: auto;
        height: auto;
        max-width: 100%;
        max-height: 100%;
    }

    button.carousel-control-prev,
    button.carousel-control-next {
        display: none;
    }

    .carousel-inner {
        padding: 8rem 2rem;
    }

    .carousel-img img {
        height: auto;
        width: 100%;
    }
}